@charset "UTF-8";
@import url("reset.css");
@font-face { /* 메인 타이틀 글씨 */
  font-family: "TTHakgyoansimMabeopsaR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMabeopsaR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face { /* 영어체 */
  font-family: "ChosunCentennial";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face { /* 한글체 */
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.mobile {
  display: none;
}

:root {
  --font-kr: "SUIT-Regular";
  --font-en: "ChosunCentennial";
  --font-title:"TTHakgyoansimMabeopsaR";
  --red-color: #FF4545;
  --mockup-margin-top: 250px;
  --frame-margin-top: 222px;
}

html, body {
  font-size: 62.5%;
  font-family: var(--font-kr);
}

body {
  overflow-x: hidden;
}

.inner {
  max-width: 1600px;
  width: calc(100% - 20px);
  margin: 0 auto;
}

.popup {
  width: 550px;
  height: 230px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999999;
  padding: 30px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.08);
}
.popup p {
  font-size: 2rem;
  line-height: 1.8;
  margin: 15px 0;
  margin-bottom: 3rem;
}
.popup button {
  width: 130px;
  height: 50px;
  background-color: var(--red-color);
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
}

.popup_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.4588235294);
  z-index: 88888;
  position: fixed;
  top: 0;
  left: 0;
}
.popup_bg p {
  position: absolute;
  left: -99999999px;
}

.header {
  height: 100vh;
  padding-top: 2rem;
  background: url(../img/main_img.png) center center/cover no-repeat;
  position: relative;
  /* header_title end */
  /* open_text end */
  /* last_text end */
}
.header .header_title .header_menu {
  display: flex;
  justify-content: space-between;
  /* h1 end */
}
.header .header_title .header_menu h1 a {
  width: 4.37vw;
}
.header .header_title .header_menu h1 a figure {
  height: 6.2vh;
}
.header .header_title .header_menu h1 a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header_title .header_menu .menu .pc_gnb ul {
  display: flex;
  gap: 40px;
  text-align: center;
  line-height: 6.2vh;
}
.header .header_title .header_menu .menu .pc_gnb ul li {
  font-size: 2rem;
  font-family: var(--font-en);
}
.header .typing-txt {
  display: none;
}
.header .typing-txt ul {
  list-style: none;
}
.header .typing {
  margin-top: 13.5rem;
}
.header .typing ul .Portfolio_text {
  text-align: right;
}
.header .typing ul li {
  font-family: var(--font-title);
  font-size: 15rem;
  margin-top: 11rem;
}
.header .typing ul li.on {
  font-family: var(--font-title);
  font-size: 15rem;
  margin-top: 11rem;
}
.header .last_text {
  position: absolute;
  bottom: 103px;
  right: 160px;
  color: #fff;
  font-size: 2.5rem;
  font-family: var(--font-title);
  text-align: right;
}
.header .last_text h3:last-child {
  margin-top: 25px;
}

/* header end */
.main {
  /* about end */
  /* web_design */
  /* mobile_graphic */
  /* graphic_title */
  /* graphic */
}
.main .about {
  position: relative;
  /* inner end */
}
.main .about .inner {
  max-width: 1330px;
  margin: 23.2rem auto;
  display: flex;
  justify-content: flex-start;
  gap: 17.2rem;
  /* left end */
  /* right end */
}
.main .about .inner .left {
  /* name end */
  /* figure end */
}
.main .about .inner .left .name {
  font-size: 2rem;
}
.main .about .inner .left .name p:first-child {
  font-family: var(--font-en);
}
.main .about .inner .left .name .text {
  display: flex;
  font-family: var(--font-kr);
  margin-top: 1.3rem;
  margin-bottom: 1.5rem;
}
.main .about .inner .left .name .text h4 {
  font-size: 3.8rem;
}
.main .about .inner .left .name .text p {
  padding-top: 1.8rem;
  padding-left: 1rem;
  color: #787878;
}
.main .about .inner .left figure {
  width: 20vw;
  margin-bottom: 1.5rem;
}
.main .about .inner .left figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .about .inner .left .phone {
  display: flex;
  font-size: 2rem;
}
.main .about .inner .left .phone p {
  margin-bottom: 1.3rem;
}
.main .about .inner .left .phone .bold_text {
  font-weight: bold;
  margin-right: 1.5rem;
}
.main .about .inner .right {
  width: 100%;
  display: flex;
  font-size: 1.8rem;
  gap: 5rem;
  /* about_firat */
  /* about_last */
}
.main .about .inner .right h5 {
  font-family: var(--font-en);
}
.main .about .inner .right .about_firat {
  width: 50%;
  padding-top: 11.2rem;
}
.main .about .inner .right .about_firat div h5 {
  margin-bottom: 1.5rem;
}
.main .about .inner .right .about_firat div p {
  margin-top: 1rem;
}
.main .about .inner .right .about_firat div .first {
  display: flex;
  gap: 2rem;
}
.main .about .inner .right .about_firat div .last {
  display: flex;
  gap: 2rem;
}
.main .about .inner .right .EDUCATION {
  margin-top: 11rem;
}
.main .about .inner .right .about_last {
  padding-top: 11.2rem;
  width: 50%;
}
.main .about .inner .right .about_last div h5 {
  margin-bottom: 1.5rem;
}
.main .about .inner .right .about_last div .first {
  display: flex;
  gap: 2rem;
}
.main .about .inner .right .about_last div .last {
  display: flex;
  gap: 2rem;
}
.main .about .inner .right .about_last .skills .skills_item {
  width: 100%;
  margin-top: 2rem;
}
.main .about .inner .right .about_last .skills .skills_item div {
  display: flex;
  margin-top: 1.5rem;
  width: 30px;
  height: 30px;
}
.main .about .inner .right .about_last .skills .skills_item div img {
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .about .inner .right .about_last .keyword {
  margin-top: 9rem;
}
.main .about .inner .right .about_last .keyword div {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.main .about .inner .right .about_last .keyword div p {
  margin-right: 2rem;
}
.main .about .inner .right .about_last .keyword div div {
  margin-top: 1rem;
}
.main .about .about_box {
  width: 8.64vw;
  height: 4.75vh;
  font-size: 2rem;
  line-height: 4.5vh;
  text-align: center;
  border: 1px solid #333;
  border-radius: 1.5rem;
  position: absolute;
  bottom: 10%;
  right: 43%;
  transform: translateX(-50%);
}
.main .web_design_title {
  height: 350px;
  background: url(../img/web_design_title.jpg) center center/cover fixed no-repeat;
  color: #fff;
  position: relative;
}
.main .web_design_title div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main .web_design_title div h4 {
  font-family: var(--font-en);
  font-size: 10rem;
  margin-bottom: 3rem;
}
.main .web_design_title div p {
  font-size: 3rem;
  font-family: var(--font-en);
}
.main .web_design {
  /* item */
  /* item_left */
  /* item_phone */
  /* item_left */
}
.main .web_design .item {
  /* inner */
}
.main .web_design .item .inner {
  display: flex;
  margin: 200px auto;
  /* text */
}
.main .web_design .item .inner .mockup {
  max-width: 767px;
  width: calc(100% - 20px);
  margin-top: 12rem;
  margin-right: 8rem;
  position: relative;
}
.main .web_design .item .inner .mockup figure {
  height: 70vh;
  overflow: hidden;
  border-radius: 15px;
}
.main .web_design .item .inner .mockup figure img {
  width: 100%;
}
.main .web_design .item .inner .mockup .img {
  z-index: -1;
  position: absolute;
  top: 27px;
  left: 0;
}
.main .web_design .item .inner .mockup .img figure {
  height: 46vh;
}
.main .web_design .item .inner .mockup:hover .img figure img {
  animation: img 30s infinite linear;
  animation-direction: alternate;
}
@keyframes img {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.main .web_design .item .inner .frame_right {
  display: none;
}
.main .web_design .item .inner .text {
  font-size: 2rem;
  font-family: var(--font-kr);
  margin-top: 21rem;
  margin-left: 14rem;
  position: relative;
}
.main .web_design .item .inner .text h5 {
  font-size: 3rem;
  font-weight: bold;
}
.main .web_design .item .inner .text > p {
  margin: 5rem 0;
}
.main .web_design .item .inner .text div {
  display: flex;
  margin-top: 2rem;
}
.main .web_design .item .inner .text div span {
  margin-right: 3rem;
  font-weight: bold;
}
.main .web_design .item .inner .text .web_key {
  margin-top: 3rem;
}
.main .web_design .item .inner .text .web_key p {
  margin-right: 2.5rem;
}
.main .web_design .item .inner .text .btn {
  margin-top: 5rem;
}
.main .web_design .item .inner .text .btn a {
  width: 9.31vw;
  height: 50px;
  z-index: 2;
}
.main .web_design .item .inner .text .btn a .main_btn {
  text-align: center;
  line-height: 50px;
  background-color: var(--red-color);
  color: #fff;
  font-family: var(--font-kr);
  font-size: 2rem;
  border-radius: 1.5rem;
}
.main .web_design .item .inner .text::before {
  content: "";
  width: 672px;
  height: 702px;
  display: inline-block;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  position: absolute;
  top: -117px;
  left: -45px;
}
.main .web_design .item .inner .text::after {
  content: "";
  width: 862px;
  height: 576px;
  display: inline-block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: -63px;
  left: -101px;
}
.main .web_design .item_left {
  margin-top: 15rem;
  /* inner */
}
.main .web_design .item_left .inner .text_left {
  width: 900px;
  font-size: 2rem;
  font-family: var(--font-kr);
  text-align: right;
  margin-top: 21rem;
  margin-right: 4rem;
  position: relative;
}
.main .web_design .item_left .inner .text_left::before {
  content: "";
  width: 672px;
  height: 702px;
  display: inline-block;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  position: absolute;
  top: -117px;
  right: -45px;
}
.main .web_design .item_left .inner .text_left::after {
  content: "";
  width: 923px;
  height: 576px;
  display: inline-block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: -63px;
  right: -101px;
}
.main .web_design .item_left .inner .text_left h5 {
  font-size: 3rem;
  font-weight: bold;
}
.main .web_design .item_left .inner .text_left > p {
  margin: 5rem 0;
}
.main .web_design .item_left .inner .text_left div {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.main .web_design .item_left .inner .text_left div span {
  margin-left: 3rem;
  font-weight: bold;
}
.main .web_design .item_left .inner .text_left .web_key {
  margin-top: 3rem;
}
.main .web_design .item_left .inner .text_left .web_key p {
  margin-left: 2.5rem;
}
.main .web_design .item_left .inner .text_left .btn {
  margin-top: 5rem;
}
.main .web_design .item_left .inner .text_left .btn a {
  width: 9.31vw;
  height: 50px;
  z-index: 2;
}
.main .web_design .item_left .inner .text_left .btn a .main_btn {
  text-align: center;
  line-height: 50px;
  background-color: var(--red-color);
  color: #fff;
  font-family: var(--font-kr);
  font-size: 2rem;
  border-radius: 1.5rem;
}
.main .web_design .item_left .inner .text_left .btn .other {
  width: 7.18vw;
  font-size: 2rem;
  font-family: var(--font-kr);
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 1.5rem;
  margin-right: 2rem;
}
.main .web_design .item_left .inner .text_left .btn .other p {
  text-align: center;
  line-height: 50px;
}
.main .web_design .item_left .inner .mockup_left {
  max-width: 767px;
  width: calc(100% - 20px);
  margin-top: 12rem;
  margin-left: 16.5rem;
  position: relative;
}
.main .web_design .item_left .inner .mockup_left figure {
  height: 70vh;
  overflow: hidden;
  border-radius: 15px;
}
.main .web_design .item_left .inner .mockup_left figure img {
  width: 100%;
}
.main .web_design .item_left .inner .mockup_left .img {
  z-index: -1;
  position: absolute;
  top: 27px;
  left: 0;
}
.main .web_design .item_left .inner .mockup_left .img figure {
  height: 46vh;
}
.main .web_design .item_left .inner .mockup_left:hover .img figure img {
  animation: img 13s infinite linear;
  animation-direction: alternate;
}
@keyframes img {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.main .web_design .item_phone {
  margin-top: 15rem;
  position: relative;
  display: flex;
}
.main .web_design .item_phone .inner {
  display: flex;
  /* text */
}
.main .web_design .item_phone .inner .mockup_small {
  max-width: 767px;
  width: calc(100% - 20px);
  margin-top: 12rem;
  margin-right: 5rem;
  position: relative;
}
.main .web_design .item_phone .inner .mockup_small figure {
  height: 70vh;
  overflow: hidden;
  border-radius: 15px;
}
.main .web_design .item_phone .inner .mockup_small figure img {
  width: 100%;
}
.main .web_design .item_phone .inner .mockup_small .img {
  z-index: -1;
  position: absolute;
  top: 27px;
  left: 0;
}
.main .web_design .item_phone .inner .mockup_small .img figure {
  height: 46vh;
}
.main .web_design .item_phone .inner .mockup_small:hover .img figure img {
  animation: img 20s infinite linear;
  animation-direction: alternate;
}
@keyframes img {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.main .web_design .item_phone .inner .mockup_small .phone {
  width: 231px;
  height: 439px;
  position: absolute;
  bottom: -67px;
  right: -96px;
}
.main .web_design .item_phone .inner .mockup_small .phone figure {
  width: 100%;
  height: 100%;
}
.main .web_design .item_phone .inner .mockup_small .phone figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .web_design .item_phone .inner .text {
  font-size: 2rem;
  font-family: var(--font-kr);
  margin-top: 21rem;
  margin-left: 14rem;
  position: relative;
}
.main .web_design .item_phone .inner .text h5 {
  font-size: 3rem;
  font-weight: bold;
}
.main .web_design .item_phone .inner .text > p {
  margin: 5rem 0;
}
.main .web_design .item_phone .inner .text div {
  display: flex;
  margin-top: 2rem;
}
.main .web_design .item_phone .inner .text div span {
  margin-right: 3rem;
  font-weight: bold;
}
.main .web_design .item_phone .inner .text .web_key {
  margin-top: 3rem;
}
.main .web_design .item_phone .inner .text .web_key p {
  margin-right: 2.5rem;
}
.main .web_design .item_phone .inner .text .qr_code {
  position: absolute;
  top: 21%;
  right: 0;
}
.main .web_design .item_phone .inner .text .qr_code_2 {
  position: absolute;
  top: 21%;
  right: -76px;
}
.main .web_design .item_phone .inner .text .btn {
  margin-top: 5rem;
}
.main .web_design .item_phone .inner .text .btn a {
  width: 9.31vw;
  height: 50px;
  z-index: 2;
}
.main .web_design .item_phone .inner .text .btn a .main_btn {
  width: 9.31vw;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: var(--red-color);
  color: #fff;
  font-family: var(--font-kr);
  font-size: 2rem;
  border-radius: 1.5rem;
}
.main .web_design .item_phone .inner .text .btn .other {
  width: 7.18vw;
  font-size: 2rem;
  font-family: var(--font-kr);
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 1.5rem;
  margin-left: 2rem;
}
.main .web_design .item_phone .inner .text .btn .other p {
  text-align: center;
  line-height: 50px;
}
.main .web_design .item_phone .inner .text::before {
  content: "";
  width: 672px;
  height: 702px;
  display: inline-block;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  position: absolute;
  top: -117px;
  left: -45px;
}
.main .web_design .item_phone .inner .text::after {
  content: "";
  width: 885px;
  height: 576px;
  display: inline-block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: -63px;
  left: -97px;
}
.main .web_design .item_left .text_left {
  width: 675px;
}
.main .web_design .item_left .mockup_small {
  position: relative;
  margin-left: 130px;
}
.main .web_design .item_left .mockup_small .left {
  width: 400px;
  height: 822px;
}
.main .web_design .item_left .mockup_small .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .web_design .item_left .mockup_small .right {
  width: 500px;
  height: 867px;
  position: absolute;
  top: 22px;
  right: -350px;
}
.main .web_design .item_left .mockup_small .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .mobile_graphic {
  /* item */
}
.main .mobile_graphic .item {
  /* inner */
}
.main .mobile_graphic .item .inner {
  display: flex;
  margin: 100px auto;
  /* text */
}
.main .mobile_graphic .item .inner .mockup {
  max-width: 767px;
  width: calc(100% - 20px);
  margin-top: 12rem;
  margin-right: 8rem;
  position: relative;
}
.main .mobile_graphic .item .inner .mockup figure {
  height: 70vh;
  overflow: hidden;
  border-radius: 15px;
}
.main .mobile_graphic .item .inner .mockup figure img {
  width: 100%;
}
.main .mobile_graphic .item .inner .mockup .img {
  z-index: -1;
  position: absolute;
  top: 27px;
  left: 0;
}
.main .mobile_graphic .item .inner .mockup .img figure {
  height: 46vh;
}
.main .mobile_graphic .item .inner .mockup:hover .img figure img {
  animation: img 30s infinite linear;
  animation-direction: alternate;
}
@keyframes img {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.main .mobile_graphic .item .inner .frame_right {
  display: none;
}
.main .mobile_graphic .item .inner .text {
  font-size: 2rem;
  font-family: var(--font-kr);
  margin-top: 21rem;
  margin-left: 14rem;
  position: relative;
  /* btn end */
}
.main .mobile_graphic .item .inner .text h5 {
  font-size: 3rem;
  font-weight: bold;
}
.main .mobile_graphic .item .inner .text .btn_click {
  flex-wrap: wrap;
  margin: 5rem 0;
}
.main .mobile_graphic .item .inner .text .btn_click p:first-child {
  margin-bottom: 1rem;
}
.main .mobile_graphic .item .inner .text div {
  display: flex;
  margin-top: 2rem;
}
.main .mobile_graphic .item .inner .text div span {
  margin-right: 3rem;
  font-weight: bold;
}
.main .mobile_graphic .item .inner .text .web_key {
  margin-top: 3rem;
}
.main .mobile_graphic .item .inner .text .web_key p {
  margin-right: 2.5rem;
}
.main .mobile_graphic .item .inner .text .btn {
  margin-top: 5rem;
}
.main .mobile_graphic .item .inner .text .btn a {
  width: 9.31vw;
  height: 50px;
  z-index: 2;
}
.main .mobile_graphic .item .inner .text .btn a .main_btn {
  text-align: center;
  line-height: 50px;
  background-color: var(--red-color);
  color: #fff;
  font-family: var(--font-kr);
  font-size: 2rem;
  border-radius: 1.5rem;
}
.main .mobile_graphic .item .inner .text .btn .other {
  width: 7.18vw;
  font-size: 2rem;
  font-family: var(--font-kr);
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 1.5rem;
  margin-left: 2rem;
}
.main .mobile_graphic .item .inner .text .btn .other p {
  text-align: center;
  line-height: 50px;
}
.main .mobile_graphic .item .inner .text::before {
  content: "";
  width: 672px;
  height: 702px;
  display: inline-block;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  position: absolute;
  top: -117px;
  left: -45px;
}
.main .mobile_graphic .item .inner .text::after {
  content: "";
  width: 862px;
  height: 576px;
  display: inline-block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: -63px;
  left: -101px;
}
.main .graphic_title {
  height: 350px;
  background: url(../img/web_design_title.jpg) center center/cover fixed no-repeat;
  color: #fff;
  position: relative;
}
.main .graphic_title div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main .graphic_title div h4 {
  font-family: var(--font-en);
  font-size: 10rem;
  margin-bottom: 3rem;
}
.main .graphic_title div p {
  font-size: 3rem;
  font-family: var(--font-en);
}
.main .graphic {
  margin: 20rem 0;
  /* inner */
}
.main .graphic .inner {
  display: flex;
}
.main .graphic .inner .graphic_text {
  width: 21.25vw;
}
.main .graphic .inner .graphic_text h6 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}
.main .graphic .inner .graphic_text p {
  font-size: 2rem;
}
.main .graphic .inner .mySwiper {
  width: 74.68vw;
  margin-left: 6.5rem;
}
.main .graphic .inner .mySwiper .swiper-wrapper {
  display: flex;
}
.main .graphic .inner .mySwiper .swiper-wrapper .swiper-slide {
  height: 24.06vw;
  margin-right: 2rem;
}
.main .graphic .inner .mySwiper .swiper-wrapper .swiper-slide a {
  height: 100%;
}
.main .graphic .inner .mySwiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .graphic .inner .swiper-horizontal > .swiper-pagination-bullets, .main .graphic .inner .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

/* main */
.footer {
  width: 100%;
  height: 39.85vw;
  padding: 61px 0;
  background: url("../img/Portfolio_footer.png") center center/cover no-repeat;
  position: relative;
}
.footer p {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding: 27px 0;
}
.footer span {
  font-size: 9rem;
  font-family: var(--font-en);
}
.footer figure {
  width: 13.28vw;
  height: 13.28vw;
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
}
.footer figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=Portfolio.css.map */