@charset "utf-8";
@import url('reset.css');

@font-face { /* 메인 타이틀 글씨 */
    font-family: 'ShinDongYupHandwriting-R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/ShinDongYupHandwriting-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {/* 영어체 */
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {/* 한글체 */
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mobile{display: none;}

:root {
    --font-kr: 'SUIT-Regular';
    --font-en: 'ChosunCentennial';
    --font-title:'ShinDongYupHandwriting-R';
    --red-color: #FF4545;
    --mockup-margin-top: 250px;
    --frame-margin-top: 222px;
}

html, body {
    font-size: 62.5%;
    font-family: var(--font-kr);

}

.inner {
    max-width: 1600px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.header {
    height: 100vh;
    padding-top: 1.2rem;
    background: url(../img/main_img.png) center center / cover no-repeat;
    position: relative;
    .header_title {
        display: flex;
        justify-content: space-between;
        h1 a {
            width: 4.37vw;
            figure {
                height: 6.2vh;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }/* h1 end */
        .menu .pc_gnb ul {
            display: flex;
            gap: 40px;
            text-align: center;
            line-height: 6.2vh;
            li {
                font-size: 2rem;
                font-family: var(--font-en);
            }
        }
    }/* header_title end */

    .open_text {
        font-family: var(--font-title);
        font-size: 25rem;
        margin-top: 6rem;
        h2:last-child {
            text-align: right;
        }
    }/* open_text end */

    .last_text {
        position: absolute;
        bottom: 103px;
        right: 160px;
        color: #fff;
        font-size: 2.5rem;
        font-family: var(--font-title);
        text-align: right;
        h3:last-child {
            margin-top: 25px;
        }
    }/* last_text end */
}/* header end */

.main {
    .about {
        .inner {
            max-width: 1330px;
            margin: 23.2rem auto;
            display: flex;
            justify-content: flex-start;
            gap: 17.2rem;
            .left {
                .name {
                    font-size: 2rem;
                    p:first-child {
                        font-family: var(--font-en);
                    }
                    .text {
                        display: flex;
                        font-family: var(--font-kr);
                        margin-top: 1.3rem;
                        margin-bottom: 1.5rem;
                        h4 {font-size: 3.8rem;}
                        p {
                            padding-top: 1.8rem;
                            padding-left: 1rem;
                            color: #787878;
                        }
                    }
                }/* name end */
                figure {
                    width: 20vw;
                    margin-bottom: 1.5rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }/* figure end */
                .phone {
                    display: flex;
                    font-size: 2rem;
                    p {margin-bottom: 1.3rem;}
                    .bold_text {
                        font-weight: bold;
                        margin-right: 1.5rem;
                    }
                }
            }/* left end */

            .right {
                width: calc(100% / 2);
                display: flex;
                font-size: 1.8rem;
                h5 {font-family: var(--font-en);}
                .about_firat {
                    width: 58%;
                    padding-top: 15.2rem;
                    margin-right: 5rem;
                    div {
                        h5 {margin-bottom:1.5rem}
                       .first {
                        display: flex;
                        gap: 2rem;
                       } 
                       .last {
                        display: flex;
                        gap: 2rem;
                       }
                    }
                }
                .EDUCATION {margin-top: 7.2rem;}

                .about_last {
                    padding-top: 15.2rem;
                    width: 40%;
                    div {
                        h5 {margin-bottom:1.5rem}
                       .first {
                        display: flex;
                        gap: 2rem;
                       } 
                       .last {
                        display: flex;
                        gap: 2rem;
                       }
                    }
                    .skills div {
                        width: 30px;
                        display: flex;
                        img {
                            margin-right: 1.5rem;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .keyword {margin-top: 7.2rem;}
                }/* about_last */
            }/* right end */
        }/* inner end */
    }/* about end */
}
