@charset "utf-8";
@import url('reset.css');

@font-face { /* 메인 타이틀 글씨 */
    font-family: 'TTHakgyoansimMabeopsaR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMabeopsaR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {/* 영어체 */
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {/* 한글체 */
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mobile{display: none;}

:root {
    --font-kr: 'SUIT-Regular';
    --font-en: 'ChosunCentennial';
    --font-title:'TTHakgyoansimMabeopsaR';
    --red-color: #FF4545;
    --mockup-margin-top: 250px;
    --frame-margin-top: 222px;
}

html, body {
    font-size: 62.5%;
    font-family: var(--font-kr);
}

.inner {
    max-width: 1600px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.header {
    height: 100vh;
    padding-top: 1.2rem;
    background: url(../img/main_img.png) center center / cover no-repeat;
    position: relative;
    .header_title {
        // position: fixed;
        .header_menu {
            display: flex;
            justify-content: space-between;
            h1 a {
                width: 4.37vw;
                figure {
                    height: 6.2vh;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }/* h1 end */
            .menu .pc_gnb ul {
                display: flex;
                gap: 40px;
                text-align: center;
                line-height: 6.2vh;
                li {
                    font-size: 2rem;
                    font-family: var(--font-en);
                }
            }
        }
    }/* header_title end */

    .open_text {
        font-family: var(--font-title);
        font-size: 15rem;
        margin-top: 11rem;
        h2:last-child {
            margin-top: 10rem;
            text-align: right;
        }
    }/* open_text end */

    .last_text {
        position: absolute;
        bottom: 103px;
        right: 160px;
        color: #fff;
        font-size: 2.5rem;
        font-family: var(--font-title);
        text-align: right;
        h3:last-child {
            margin-top: 25px;
        }
    }/* last_text end */
}/* header end */

.main {
    .about {
        position: relative;
        .inner {
            max-width: 1330px;
            margin: 23.2rem auto;
            display: flex;
            justify-content: flex-start;
            gap: 17.2rem;
            .left {
                .name {
                    font-size: 2rem;
                    p:first-child {
                        font-family: var(--font-en);
                    }
                    .text {
                        display: flex;
                        font-family: var(--font-kr);
                        margin-top: 1.3rem;
                        margin-bottom: 1.5rem;
                        h4 {font-size: 3.8rem;}
                        p {
                            padding-top: 1.8rem;
                            padding-left: 1rem;
                            color: #787878;
                        }
                    }
                }/* name end */
                figure {
                    width: 20vw;
                    margin-bottom: 1.5rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }/* figure end */
                .phone {
                    display: flex;
                    font-size: 2rem;
                    p {margin-bottom: 1.3rem;}
                    .bold_text {
                        font-weight: bold;
                        margin-right: 1.5rem;
                    }
                }
            }/* left end */

            .right {
                width: 100%;
                display: flex;
                font-size: 1.8rem;
                gap: 5rem;
                h5 {font-family: var(--font-en);}
                .about_firat {
                    width: 50%;
                    padding-top: 15.2rem;
                    div {
                        h5 {margin-bottom:1.5rem}
                        .first {
                        display: flex;
                        gap: 2rem;
                        }
                        .last {
                            display: flex;
                            gap: 2rem;
                        }
                    }
                }
                .EDUCATION {margin-top: 11rem;}

                .about_last {
                    padding-top: 15.2rem;
                    width: 50%;
                    div {
                        h5 {margin-bottom:1.5rem}
                        .first {
                            display: flex;
                            gap: 2rem;
                        } 
                        .last {
                            display: flex;
                            gap: 2rem;
                        }
                    }
                    .skills .skills_item {
                        width: 100%;                        
                        div {
                            display: flex;
                            margin-top: 1.5rem;
                            width: 30px;
                            height: 30px;
                            img {
                                margin-right: 1rem;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .keyword {
                        margin-top: 7rem;
                        div {
                            display: flex;
                            flex-wrap: wrap;
                            p {
                                margin-right: 2rem;
                            }
                            div {
                                margin-top: 1rem;
                            }
                        }
                    }
                }/* about_last */
            }/* right end */
        }/* inner end */
        .about_box {
            width: 8.64vw;
            height: 4.75vh;
            font-size: 2rem;
            line-height: 4.5vh;
            text-align: center;
            border: 1px solid #333;
            border-radius: 1.5rem;
            position: absolute;
            bottom: 10%;
            right: 43%;
            transform: translateX(-50%);
        }
    }/* about end */

    .web_design {
        .item {
            position: relative;
            .inner {
                display: flex;
                height: 100vh;
                .mockup {
                    width: 43.37vw;
                    height: 35.93vw;
                    margin-top: 100px;
                    figure {
                        height: 100%;
                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .frame_right {
                    display: none;
                }
                .text {
                    font-size: 2rem;
                    font-family: var(--font-kr);
                    margin-top: 21rem;
                    margin-left: 14rem;
                    h5 {
                        font-size: 3rem;
                        font-weight: bold;
                    }
                    > p {
                        margin: 5rem 0;
                    }
                    div {
                        display: flex;
                        margin-top: 2rem;
                        span {
                            margin-right: 3rem;
                            font-weight: bold;
                        }
                    }
                    .web_key {
                        margin-top: 3rem;
                        p {
                            margin-right: 2.5rem;
                        }
                    }
                    .btn {
                        margin-top: 5rem;
                        .main_btn {
                            width: 9.31vw;
                            height: 50px;
                            background-color: var(--red-color);
                            color: #fff;
                            font-family: var(--font-kr);
                            font-size: 2rem;
                            border-radius: 1.5rem;
                        }
                    }
                    .frame_right {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-60%);
                    }
                }/* text */
            }/* inner */
        }

        .item_left {
            margin-top: 15rem;
            .inner {
                position: relative;
                .frame_left {
                    position: absolute;
                    top: 43%;
                    left: -150px;
                    transform: translateY(-50%);
                }
                .text_left {
                    width: 900px;
                    font-size: 2rem;
                    font-family: var(--font-kr);
                    text-align: right;
                    margin-top: 21rem;
                    margin-right: 4rem;
                    h5 {
                        font-size: 3rem;
                        font-weight: bold;
                    }
                    > p {
                        margin: 5rem 0;
                    }
                    div {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 2rem;
                        span {
                            margin-left: 3rem;
                            font-weight: bold;
                        }
                    }
                    .web_key {
                        margin-top: 3rem;
                        p {
                            margin-left: 2.5rem;
                        }
                    }
                    .btn {
                        margin-top: 5rem;
                        .main_btn {
                            width: 9.31vw;
                            height: 50px;
                            background-color: var(--red-color);
                            color: #fff;
                            font-family: var(--font-kr);
                            font-size: 2rem;
                            border-radius: 1.5rem;
                        }
                        .other {
                            width: 7.18vw;
                            font-size: 2rem;
                            font-family: var(--font-kr);
                            color: var(--red-color);
                            border: 1px solid var(--red-color);
                            border-radius: 1.5rem;
                            margin-right: 2rem;
                        }
                    }
                }
                .mockup {
                    margin-left: 10rem;
                }
            }/* inner */
        }
        .item {
            .mockup_small {
                position: relative;
                figure {
                    width: 34.12vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .phone {
                    width: 271px;
                    height: 513px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    figure {
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
