@charset "utf-8";

.popup {
    width: 550px;
    height: 400px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    padding: 60px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.08);
}
.popup_bg {
    width: 100%;
    height: 100%;
    background-color: #33333375;
    z-index: 88888;
    position: fixed;
    top: 0;
    left: 0;
}
p {
    display: none;
}