@charset "utf-8";
@import url('reset.css');

.mobile{display: none;}

:root {
    --font-kr: 'SUIT-Regular';
    --font-en: 'ChosunCentennial';
    --font-title:'TTHakgyoansimMabeopsaR';
    --red-color: #FF4545;
    --mockup-margin-top: 250px;
    --frame-margin-top: 222px;
}

html, body {
    font-size: 62.5%;
    font-family: var(--font-kr);
}

.inner {
    max-width: 1600px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

  .main .web_design {
    /* item */
    /* item_left */
    /* item_phone */
    /* item_left */
  }
  .main .web_design .item {
    opacity: 0;
    /* transform: translateY(100px); */
    /* inner */
  }
  .main .web_design .item .inner {
    display: flex;
    margin: 200px auto;
    /* text */
  }
  .main .web_design .item .inner .mockup {
    max-width: 767px;
    width: calc(100% - 20px);
    margin-top: 12rem;
    margin-right: 8rem;
    position: relative;
  }
  .main .web_design .item .inner .mockup figure {
    height: 70vh;
    overflow: hidden;
    border-radius: 15px;
  }
  .main .web_design .item .inner .mockup figure img {
    width: 100%;
  }
  .main .web_design .item .inner .mockup .img {
    z-index: -1;
    position: absolute;
    top: 27px;
    left: 0;
  }
  .main .web_design .item .inner .mockup .img figure {
    height: 46vh;
  }
  .main .web_design .item .inner .mockup:hover .img figure img {
    animation: img 30s infinite linear;
    animation-direction: alternate;
  }
  @keyframes img {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  .main .web_design .item .inner .frame_right {
    display: none;
  }
  .main .web_design .item .inner .text {
    font-size: 2rem;
    font-family: var(--font-kr);
    margin-top: 21rem;
    margin-left: 14rem;
    position: relative;
  }
  .main .web_design .item .inner .text h5 {
    font-size: 3rem;
    font-weight: bold;
  }
  .main .web_design .item .inner .text > p {
    margin: 5rem 0;
  }
  .main .web_design .item .inner .text div {
    display: flex;
    margin-top: 2rem;
  }
  .main .web_design .item .inner .text div span {
    margin-right: 3rem;
    font-weight: bold;
  }
  .main .web_design .item .inner .text .web_key {
    margin-top: 3rem;
  }
  .main .web_design .item .inner .text .web_key p {
    margin-right: 2.5rem;
  }
  .main .web_design .item .inner .text .btn {
    margin-top: 5rem;
  }
  .main .web_design .item .inner .text .btn a {
    width: 9.31vw;
    height: 50px;
    z-index: 2;
  }
  .main .web_design .item .inner .text .btn a .main_btn {
    text-align: center;
    line-height: 50px;
    background-color: var(--red-color);
    color: #fff;
    font-family: var(--font-kr);
    font-size: 2rem;
    border-radius: 1.5rem;
  }
  .main .web_design .item .inner .text::before {
    content: "";
    width: 672px;
    height: 702px;
    display: inline-block;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    position: absolute;
    top: -117px;
    left: -45px;
  }
  .main .web_design .item .inner .text::after {
    content: "";
    width: 862px;
    height: 576px;
    display: inline-block;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    position: absolute;
    top: -63px;
    left: -101px;
  }
  .main .web_design .item_left {
    margin-top: 15rem;
    /* inner */
  }
  .main .web_design .item_left .inner .text_left {
    width: 900px;
    font-size: 2rem;
    font-family: var(--font-kr);
    text-align: right;
    margin-top: 21rem;
    margin-right: 4rem;
    position: relative;
  }
  .main .web_design .item_left .inner .text_left::before {
    content: "";
    width: 672px;
    height: 702px;
    display: inline-block;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    position: absolute;
    top: -117px;
    right: -45px;
  }
  .main .web_design .item_left .inner .text_left::after {
    content: "";
    width: 923px;
    height: 576px;
    display: inline-block;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    position: absolute;
    top: -63px;
    right: -101px;
  }
  .main .web_design .item_left .inner .text_left h5 {
    font-size: 3rem;
    font-weight: bold;
  }
  .main .web_design .item_left .inner .text_left > p {
    margin: 5rem 0;
  }
  .main .web_design .item_left .inner .text_left div {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
  .main .web_design .item_left .inner .text_left div span {
    margin-left: 3rem;
    font-weight: bold;
  }
  .main .web_design .item_left .inner .text_left .web_key {
    margin-top: 3rem;
  }
  .main .web_design .item_left .inner .text_left .web_key p {
    margin-left: 2.5rem;
  }
  .main .web_design .item_left .inner .text_left .btn {
    margin-top: 5rem;
  }
  .main .web_design .item_left .inner .text_left .btn a {
    width: 9.31vw;
    height: 50px;
    z-index: 2;
  }
  .main .web_design .item_left .inner .text_left .btn a .main_btn {
    text-align: center;
    line-height: 50px;
    background-color: var(--red-color);
    color: #fff;
    font-family: var(--font-kr);
    font-size: 2rem;
    border-radius: 1.5rem;
  }
  .main .web_design .item_left .inner .text_left .btn .other {
    width: 7.18vw;
    font-size: 2rem;
    font-family: var(--font-kr);
    color: var(--red-color);
    border: 1px solid var(--red-color);
    border-radius: 1.5rem;
    margin-right: 2rem;
  }
  .main .web_design .item_left .inner .text_left .btn .other p {
    text-align: center;
    line-height: 50px;
  }
  .main .web_design .item_left .inner .mockup_left {
    max-width: 767px;
    width: calc(100% - 20px);
    margin-top: 12rem;
    margin-left: 16.5rem;
    position: relative;
  }
  .main .web_design .item_left .inner .mockup_left figure {
    height: 70vh;
    overflow: hidden;
    border-radius: 15px;
  }
  .main .web_design .item_left .inner .mockup_left figure img {
    width: 100%;
  }
  .main .web_design .item_left .inner .mockup_left .img {
    z-index: -1;
    position: absolute;
    top: 27px;
    left: 0;
  }
  .main .web_design .item_left .inner .mockup_left .img figure {
    height: 46vh;
  }
  .main .web_design .item_left .inner .mockup_left:hover .img figure img {
    animation: img 13s infinite linear;
    animation-direction: alternate;
  }
  @keyframes img {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  .main .web_design .item_phone {
    margin-top: 15rem;
    position: relative;
    display: flex;
  }
  .main .web_design .item_phone .inner {
    display: flex;
    /* text */
  }
  .main .web_design .item_phone .inner .mockup_small {
    max-width: 767px;
    width: calc(100% - 20px);
    margin-top: 12rem;
    margin-right: 5rem;
    position: relative;
  }
  .main .web_design .item_phone .inner .mockup_small figure {
    height: 70vh;
    overflow: hidden;
    border-radius: 15px;
  }
  .main .web_design .item_phone .inner .mockup_small figure img {
    width: 100%;
  }
  .main .web_design .item_phone .inner .mockup_small .img {
    z-index: -1;
    position: absolute;
    top: 27px;
    left: 0;
  }
  .main .web_design .item_phone .inner .mockup_small .img figure {
    height: 46vh;
  }
  .main .web_design .item_phone .inner .mockup_small:hover .img figure img {
    animation: img 20s infinite linear;
    animation-direction: alternate;
  }
  @keyframes img {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  .main .web_design .item_phone .inner .mockup_small .phone {
    width: 231px;
    height: 439px;
    position: absolute;
    bottom: -67px;
    right: -96px;
  }
  .main .web_design .item_phone .inner .mockup_small .phone figure {
    width: 100%;
    height: 100%;
  }
  .main .web_design .item_phone .inner .mockup_small .phone figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .web_design .item_phone .inner .text {
    font-size: 2rem;
    font-family: var(--font-kr);
    margin-top: 21rem;
    margin-left: 14rem;
    position: relative;
  }
  .main .web_design .item_phone .inner .text h5 {
    font-size: 3rem;
    font-weight: bold;
  }
  .main .web_design .item_phone .inner .text > p {
    margin: 5rem 0;
  }
  .main .web_design .item_phone .inner .text div {
    display: flex;
    margin-top: 2rem;
  }
  .main .web_design .item_phone .inner .text div span {
    margin-right: 3rem;
    font-weight: bold;
  }
  .main .web_design .item_phone .inner .text .web_key {
    margin-top: 3rem;
  }
  .main .web_design .item_phone .inner .text .web_key p {
    margin-right: 2.5rem;
  }
  .main .web_design .item_phone .inner .text .btn {
    margin-top: 5rem;
  }
  .main .web_design .item_phone .inner .text .btn a {
    width: 9.31vw;
    height: 50px;
    z-index: 2;
  }
  .main .web_design .item_phone .inner .text .btn a .main_btn {
    width: 9.31vw;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: var(--red-color);
    color: #fff;
    font-family: var(--font-kr);
    font-size: 2rem;
    border-radius: 1.5rem;
  }
  .main .web_design .item_phone .inner .text .btn .other {
    width: 7.18vw;
    font-size: 2rem;
    font-family: var(--font-kr);
    color: var(--red-color);
    border: 1px solid var(--red-color);
    border-radius: 1.5rem;
    margin-left: 2rem;
  }
  .main .web_design .item_phone .inner .text .btn .other p {
    text-align: center;
    line-height: 50px;
  }
  .main .web_design .item_phone .inner .text::before {
    content: "";
    width: 672px;
    height: 702px;
    display: inline-block;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    position: absolute;
    top: -117px;
    left: -45px;
  }
  .main .web_design .item_phone .inner .text::after {
    content: "";
    width: 885px;
    height: 576px;
    display: inline-block;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    position: absolute;
    top: -63px;
    left: -97px;
  }
  .main .web_design .item_left .text_left {
    width: 675px;
  }
  .main .web_design .item_left .mockup_small {
    position: relative;
    margin-left: 130px;
  }
  .main .web_design .item_left .mockup_small .left {
    width: 400px;
    height: 822px;
  }
  .main .web_design .item_left .mockup_small .left img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.main .web_design .item_left .mockup_small .right {
    width: 500px;
    height: 867px;
    position: absolute;
    top: 22px;
    right: -350px;
}
.main .web_design .item_left .mockup_small .right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.main .web_design .item.active {
    opacity: 1;
}
.main .web_design .item.on0 {
    transition: 0.5s;
}